<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Sellova">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- MySQL-backed integration tests -->
        <env name="TEST_DB_CONNECTION" value="mysql"/>
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_PORT" value="3306"/>
        <env name="TEST_DB_DATABASE" value="sellova_test"/>
        <env name="TEST_DB_USERNAME" value="root"/>
        <env name="TEST_DB_PASSWORD" value=""/>
    </php>
</phpunit>

